<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Vue tramite CDN</title>
</head>

<body>

  <h1>Ciao Vue!</h1>

  <div id="app">
    <div v-if="mostraPersona">
      <p>Ciao, mi chiamo {{ name }} {{ surname }} ed ho {{ age }} anni.</p>
    </div>

    <button @click="togglePersona">
      <span v-if="!mostraPersona">Mostra la persona</span>
      <span v-else>Nascondi la persona</span>
    </button>

    <br>
    <!-- Quattro tipi di Mouse Events -->
    <div class="contenitore" @mouseenter="mostraEvento">mouseover</div>
    <div class="contenitore" @mouseleave="mostraEvento">mouseleave</div>
    <div class="contenitore" @dblclick="mostraEvento">double click</div>
    <div class="contenitore" @mousemove="mostraPosizione">posizione - {{ x }} {{ y }}</div>

  </div>

  <script src="app.js"></script>
</body>

</html>